* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color:black;
    color: white;
  }
  
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    background: black
  }
  
  .hero-text {
    max-width: 500px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    color: #0d47a1;
  }
  
  .hero-text h2 {
    font-size: 1.8rem;
    color: #1565c0;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 1.1rem;
    margin: 20px 0;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #1565c0;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #0d47a1;
  }
  
  .hero-img img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  